// Use Compass ('cause it rocks!)
@import "compass";

@import "modules/all";
@import "reset";
@import "buttons";
@import "figures";
@import "typography";

@import "header";
@import "inicio";
@import "servicios";
@import "nosotros";
@import "trabajos";
@import "contacto";
@import "footer";


body{
	width:100%;
	@include center();
}

.mainwrapper{
	width:$ancho_principal;
	@include center();
}


@include section_title();

.marcador{
	visibility: 0;
	height:0px;
	width:0px;
	position:absolute;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}