.contacto{
	@include section_base($backcolor_contacto, $backimage_contacto);
	background-position: -10% 50%;
	height:90vh;
	min-height:720px;
	position:relative;
	z-index: 1000;

	div{
		article{
				float:left;
			margin-left:20px;
			
			h3{
				padding-bottom:30px;
			}

			&:nth-child(2){
				float:none;
			}
			
			&:nth-child(3){
				p{
					line-height:26px;
				}
			}
			
			&:nth-child(4){
				height:220px;
				width:260px;
				margin-top:50px;
				@include border-radius(5px);
			}

			&:nth-child(5){
				width:540px;
				float:right;
				
				input[type=text]{
					border:none;
					height:40px;
					width:248px;
					background-color:$backcolor_contacto_input;
					@include border-radius(5px);
					color:white;
					font-family: $fuente_principal;
					padding-left:10px;

					&:nth-child(2){
						margin-left:18px;
					}
				}

				input[type=email]{
					@extend input[type=text]; 
				}

				textarea{
					border:none;
					width:533px;
					margin-top:20px;
					margin-bottom:20px;
					background-color:$backcolor_contacto_input;
					@include border-radius(5px);
					color:white;
					font-family: $fuente_principal;
				}
				
				input[type=submit]{
					border:none;
					padding:10px 100px 10px 100px;
					background-color:$backcolor_contacto_boton;
					@include border-radius(5px);
					@include center();
					cursor:pointer;
					color:white;
					font-family: $fuente_principal;
					font-size:1.7em;
				}
			}
		}
	}
}
