footer{
	height:5vh;
	min-height:80px;
	bottom:0px;
	background-color: $backcolor_footer;

	ul{
		width:310px;
		@include center();
		@include vertical-align;

		li{
			display:inline;
			padding-left:20px;

			svg{
				width:60px;
				height:60px;
				
				g:nth-child(1){
					fill: $backcolor_contacto;
				}
			}
			
			&:nth-child(1){
				padding-left:0px;
			}
		}
	}
}