header{
	height:60px;
	width:100%;
	top:0px;
	position:fixed;
	@include center();
	/*background-color:$backcolor_header;
	border-bottom: solid 5px $backcolor_inicio_kicker;*/
}
h1{
	float:left;
	color:white;
	font-family: $fuente_logo;
	padding-top:10px;
}

nav{
	float:right;
	padding-top:20px;

	ul{
		list-style: none;

		li{
			display:inline;
			padding-left:40px;

			a{
				text-decoration: none;
				color:$menu-color;
				font-family: $fuente_principal;
				font-size:1em;
				text-transform:uppercase;
			}
		}
	}
}