.inicio{
	height:100vh;
	min-height:600px;
	position-top:0px;
	background-image: $background_image_uno;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-attachment: fixed;
	background-size:cover;

	/*@include animation(slider 60s infinite linear);*/

	.slide_handler{
		@include center();
		padding-top:25%;
		width:$ancho_principal;

		span{
			font-size: 4em;
			color:white;
			font-family: $fuente_logo;

			&:hover{
				cursor:pointer;
			}

			&:nth-child(1){
				float:left;
			}
			
			&:nth-child(2){
				float:right;
			}
			
		}

		div{
			
			@include center();
			width:350px;
			height:80px;
			background-color:rgb(255,255,255);
			padding:10px;
			@include border-radius(10px);

			span{
				font-size:2.1em;
				color:$backcolor_inicio_kicker;
				display:inline;


				&:nth-child(1){
					text-align:right;
					float:left;
				}
				
				&:nth-child(2){
					font-size: 5em;
					float:right;
				}
			}
		}
	}
}