.nosotros{
	@include section_base($backcolor_nosotros, $backimage_nosotros);
	background-position: 30% 50%;
	min-height: 1000px;
	
	.kicker{
		width:275px;
		height:40px;
		font-size:1.4em;
		text-transform: uppercase;
		font-weight:bold;
		background-color:$backcolor_nosotros_kicker;
		@include center();
		margin-top:-100px;
		margin-bottom:100px;
		padding-top:20px;
		text-align:center;
		@include border-radius(5px);
		

		&:after{  
			content: "";
			  position: absolute;
			  border-width: 12px 12px 0px;
			  border-style: solid;
			  border-color: $backcolor_nosotros_kicker transparent;
			  display: block;
			  width: 0;
			  height: 0;
			  margin-top:18px;
			  margin-left: 120px;
		}
	}

	section{

		article{
			width:260px;
			height:380px;
			display:inline-table;
			margin-left:16px;
			background-color:$backcolor_nosotros_article;
						

			svg{
				width:166px;
				height:166px;
				@include center();
				fill:$backcolor_nosotros_article;
				margin-top:43px;
				@include transition-property(fill);
				@include transition-duration(1s);
			}
			
			h3{
				padding:27px 0 15px 0;
				text-align:center;
				text-transform: uppercase;
			}

			p{
				margin-top:0px;
				padding:15px 0 40px 0;
				color:$backcolor_nosotros_kicker;
				text-align:center;
				@include transition-property(color);
				@include transition-duration(0.5s);
			}
			
			&:nth-child(1){
				margin-left:0px;
			}

			ul{
				width:190px;
				@include center();

				li{
					display:inline-table;
					padding-left:18px;
					
					a{
						svg{
							width:31px;
							height:31px;
							margin-top:0px;
							
							g:nth-child(1){
								fill: $backcolor_nosotros_article;
								@include transition-property(fill);
								@include transition-duration(1s);
							}
						}
					}

					&:nth-child(1){
						padding-left:0px;
					}
				}
			}

			&:hover{
				cursor:pointer;
				svg{
					fill:$backcolor_nosotros_hover;
					@include transition-property(fill);
					@include transition-duration(1s);
				}

				p{
					color:$backcolor_nosotros_hover;
					@include transition-property(color);
					@include transition-duration(0.5s);
				}

				ul{
					li{
						&:nth-child(1){
							g:nth-child(1){
								fill:$icon_facebook;
								@include transition-property(fill);
								@include transition-duration(0.5s);
							}
						}
						&:nth-child(2){
							g:nth-child(1){
								fill:$icon_twitter;
								@include transition-property(fill);
								@include transition-duration(0.5s);
							}
						}
						&:nth-child(3){
							g:nth-child(1){
								fill:$icon_google;
								@include transition-property(fill);
								@include transition-duration(0.5s);
							}
						}
						&:nth-child(4){
							g:nth-child(1){
								fill:$icon_linkedin;
								@include transition-property(fill);
								@include transition-duration(0.5s);
							}
						}
					}
				}
			}

		}

	}

}