.servicios{
	height:100vh;
	min-height:600px;
	background-color:$backcolor_servicios;
	background-attachment: fixed;

	.servicios_main{
		text-align:center;
		padding-top:100px;
		padding-bottom:100px;
		h2{
			text-transform:uppercase;
			padding-bottom:50px;
		}

		p{
			line-height: 20px;
		}
	}
	section{

		article{
			width:260px;
			height:300px;
			display:inline-table;
			margin-left:16px;
			background-color:$backcolor_servicios_article;
			
			p{
				text-align:center;
				padding:0 10px 0 10px;
			}
			
			&:nth-child(1){
				margin-left:0px;
			}

		}

	}

}