.servicios{
	@include section_base($backcolor_servicios);

	section{

		article{
			width:260px;
			height:300px;
			display:inline-table;
			margin-left:16px;
			background-color:$backcolor_servicios_article;
			
			p{
				text-align:center;
				padding:0 10px 0 10px;
			}
			
			&:nth-child(1){
				margin-left:0px;
			}

		}

	}

}