.servicios{
	@include section_base($backcolor_servicios, $backimage_servicios);
	min-height: 1050px;

	section{

		article{
			width:260px;
			height:400px;
			display:inline-table;
			margin-left:16px;
			background-color:$backcolor_servicios_article;
			/*visibility: hidden;
			/*@include transition-property(visibility);
			@include transition-duration(5s);*/
			
			div{
				width:140px;
				height:140px;
				background-color:white;
				@include border-radius(140px);
				@include center();
				border-style:double;
				border-color: $backcolor_servicios_article_alfa;
				border-width:15px;
				margin-top:45px;
				

				svg{
					width:80px;
					height:80px;
					@include center();
					@include vertical-align();
					fill:$backcolor_servicios_article_alfa;

					@include transition-property(height);
					@include transition-duration(1s);
				}
			}
			
			h3{
				padding:30px 0 50px 0;
				text-align:center;
				text-transform: uppercase;
			}

			p{
				text-align:center;
				padding:0 27px 0 27px;
				line-height:1.3em;
			}
			
			&:nth-child(1){
				margin-left:0px;
			}

			&:hover{
				cursor:pointer;

				div{

					svg{
						width:100px;
						height:100px;
						@include transition-property(height);
						@include transition-duration(1s);
					}
				}
			}
		}
	}
}