@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Importa los Partials*/
/*Importa los módulos*/
/*Fonts colors*/
/*Background colors*/
/*Background images*/
/*Icons colors*/
/*Ampliar imagen*/
/*Slider principal*/
/*@mixin border_radius($size){
	-webkit-border-radius: $size;
	-moz-border-radius: $size;
	border-radius: $size;
}*/
@-moz-keyframes fondo {
  0% {
    background-position: -200% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
@-webkit-keyframes fondo {
  0% {
    background-position: -200% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
@keyframes fondo {
  0% {
    background-position: -200% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
@-moz-keyframes slider {
  0% {
    background-image: url("../images/background_inicio1.jpg");
  }
  23% {
    background-image: url("../images/background_inicio1.jpg");
  }
  25% {
    background-image: url("../images/background_inicio2.jpg");
  }
  48% {
    background-image: url("../images/background_inicio2.jpg");
  }
  50% {
    background-image: url("../images/background_inicio3.jpg");
  }
  73% {
    background-image: url("../images/background_inicio3.jpg");
  }
  75% {
    background-image: url("../images/background_inicio4.jpg");
  }
  98% {
    background-image: url("../images/background_inicio4.jpg");
  }
  100% {
    background-image: url("../images/background_inicio1.jpg");
  }
}
@-webkit-keyframes slider {
  0% {
    background-image: url("../images/background_inicio1.jpg");
  }
  23% {
    background-image: url("../images/background_inicio1.jpg");
  }
  25% {
    background-image: url("../images/background_inicio2.jpg");
  }
  48% {
    background-image: url("../images/background_inicio2.jpg");
  }
  50% {
    background-image: url("../images/background_inicio3.jpg");
  }
  73% {
    background-image: url("../images/background_inicio3.jpg");
  }
  75% {
    background-image: url("../images/background_inicio4.jpg");
  }
  98% {
    background-image: url("../images/background_inicio4.jpg");
  }
  100% {
    background-image: url("../images/background_inicio1.jpg");
  }
}
@keyframes slider {
  0% {
    background-image: url("../images/background_inicio1.jpg");
  }
  23% {
    background-image: url("../images/background_inicio1.jpg");
  }
  25% {
    background-image: url("../images/background_inicio2.jpg");
  }
  48% {
    background-image: url("../images/background_inicio2.jpg");
  }
  50% {
    background-image: url("../images/background_inicio3.jpg");
  }
  73% {
    background-image: url("../images/background_inicio3.jpg");
  }
  75% {
    background-image: url("../images/background_inicio4.jpg");
  }
  98% {
    background-image: url("../images/background_inicio4.jpg");
  }
  100% {
    background-image: url("../images/background_inicio1.jpg");
  }
}
/* line 1, ../sass/partials/_reset.scss */
body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  color: white;
  font-family: "Lato", sans-serif;
}

/* line 8, ../sass/partials/_reset.scss */
h1 {
  font-size: 2.3em;
}

/* line 11, ../sass/partials/_reset.scss */
h2 {
  font-size: 2em;
}

/* line 14, ../sass/partials/_reset.scss */
h3 {
  font-size: 1.3em;
}

/* line 17, ../sass/partials/_reset.scss */
p {
  font-size: 0.9em;
}

/* line 20, ../sass/partials/_reset.scss */
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
  padding-left: 10px;
}

/* line 21, ../sass/partials/_reset.scss */
::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
  padding-left: 10px;
}

/* firefox 19+ */
/* line 22, ../sass/partials/_reset.scss */
:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
  padding-left: 10px;
}

/* ie */
/* line 23, ../sass/partials/_reset.scss */
input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
  padding-left: 10px;
}

/* line 1, ../sass/partials/_header.scss */
header {
  height: 60px;
  width: 100%;
  top: -15px;
  position: fixed;
  display: block;
  margin: auto auto;
  /*background-color:$backcolor_header;
  border-bottom: solid 5px $backcolor_inicio_kicker;*/
  z-index: 2000;
}

/* line 11, ../sass/partials/_header.scss */
h1 {
  float: left;
  color: white;
  font-family: "Lobster", cursive;
  padding-top: 25px;
}

/* line 18, ../sass/partials/_header.scss */
nav {
  float: right;
}
/* line 21, ../sass/partials/_header.scss */
nav ul {
  list-style: none;
  height: 75px;
}
/* line 25, ../sass/partials/_header.scss */
nav ul li {
  height: 60px;
  padding-top: 30px;
  padding-bottom: 10px;
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
  background-color: transparent;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
/* line 37, ../sass/partials/_header.scss */
nav ul li a {
  text-decoration: none;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

/* line 1, ../sass/partials/_inicio.scss */
.inicio {
  height: 100vh;
  min-height: 600px;
  position-top: 0px;
  background-image: url("../images/background_inicio1.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
  /*@include animation(slider 60s infinite linear);*/
}
/* line 13, ../sass/partials/_inicio.scss */
.inicio .slide_handler {
  display: block;
  margin: auto auto;
  padding-top: 25%;
  width: 1100px;
}
/* line 18, ../sass/partials/_inicio.scss */
.inicio .slide_handler span {
  font-size: 4em;
  color: white;
  font-family: "Lobster", cursive;
}
/* line 23, ../sass/partials/_inicio.scss */
.inicio .slide_handler span:hover {
  cursor: pointer;
}
/* line 27, ../sass/partials/_inicio.scss */
.inicio .slide_handler span:nth-child(1) {
  float: left;
}
/* line 31, ../sass/partials/_inicio.scss */
.inicio .slide_handler span:nth-child(2) {
  float: right;
}
/* line 37, ../sass/partials/_inicio.scss */
.inicio .slide_handler div {
  display: block;
  margin: auto auto;
  width: 350px;
  height: 80px;
  background-color: white;
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 46, ../sass/partials/_inicio.scss */
.inicio .slide_handler div span {
  font-size: 2.1em;
  color: #74c7d5;
  display: inline;
}
/* line 52, ../sass/partials/_inicio.scss */
.inicio .slide_handler div span:nth-child(1) {
  text-align: right;
  float: left;
}
/* line 57, ../sass/partials/_inicio.scss */
.inicio .slide_handler div span:nth-child(2) {
  font-size: 5em;
  float: right;
}

/* line 1, ../sass/partials/_servicios.scss */
.servicios {
  height: 100vh;
  background-color: #b54b51;
  background-image: url("../images/background_servicios.png");
  background-attachment: fixed;
  background-repeat: repeat-x;
  -moz-animation: fondo 60s infinite linear;
  -webkit-animation: fondo 60s infinite linear;
  animation: fondo 60s infinite linear;
  min-height: 820px;
  position: relative;
  z-index: 400;
}
/* line 9, ../sass/partials/_servicios.scss */
.servicios section article {
  width: 260px;
  height: 400px;
  display: inline-table;
  margin-left: 16px;
  background-color: rgba(200, 83, 90, 0.8);
  /*visibility: hidden;
  /*@include transition-property(visibility);
  @include transition-duration(5s);*/
}
/* line 19, ../sass/partials/_servicios.scss */
.servicios section article div {
  width: 140px;
  height: 140px;
  background-color: white;
  -moz-border-radius: 140px;
  -webkit-border-radius: 140px;
  border-radius: 140px;
  display: block;
  margin: auto auto;
  border-style: double;
  border-color: #c8535a;
  border-width: 15px;
  margin-top: 45px;
}
/* line 31, ../sass/partials/_servicios.scss */
.servicios section article div svg {
  width: 80px;
  height: 80px;
  display: block;
  margin: auto auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  fill: #c8535a;
  -moz-transition-property: height;
  -o-transition-property: height;
  -webkit-transition-property: height;
  transition-property: height;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 43, ../sass/partials/_servicios.scss */
.servicios section article h3 {
  padding: 30px 0 50px 0;
  text-align: center;
  text-transform: uppercase;
}
/* line 49, ../sass/partials/_servicios.scss */
.servicios section article p {
  text-align: center;
  padding: 0 27px 0 27px;
  line-height: 1.3em;
}
/* line 55, ../sass/partials/_servicios.scss */
.servicios section article:nth-child(1) {
  margin-left: 0px;
}
/* line 59, ../sass/partials/_servicios.scss */
.servicios section article:hover {
  cursor: pointer;
}
/* line 64, ../sass/partials/_servicios.scss */
.servicios section article:hover div svg {
  width: 100px;
  height: 100px;
  -moz-transition-property: height;
  -o-transition-property: height;
  -webkit-transition-property: height;
  transition-property: height;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

/* line 1, ../sass/partials/_nosotros.scss */
.nosotros {
  height: 100vh;
  background-color: #665464;
  background-image: url("../images/background_nosotros.png");
  background-attachment: fixed;
  background-repeat: repeat-x;
  -moz-animation: fondo 60s infinite linear;
  -webkit-animation: fondo 60s infinite linear;
  animation: fondo 60s infinite linear;
  background-position: 30% 50%;
  min-height: 820px;
  position: relative;
  z-index: 600;
}
/* line 8, ../sass/partials/_nosotros.scss */
.nosotros .kicker {
  width: 275px;
  height: 40px;
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #a1ca6c;
  display: block;
  margin: auto auto;
  margin-top: -100px;
  margin-bottom: 100px;
  padding-top: 20px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 23, ../sass/partials/_nosotros.scss */
.nosotros .kicker:after {
  content: "";
  position: absolute;
  border-width: 12px 12px 0px;
  border-style: solid;
  border-color: #a1ca6c transparent;
  display: block;
  width: 0;
  height: 0;
  margin-top: 18px;
  margin-left: 120px;
}
/* line 39, ../sass/partials/_nosotros.scss */
.nosotros section article {
  width: 260px;
  height: 380px;
  display: inline-table;
  margin-left: 16px;
  background-color: rgba(76, 63, 75, 0.5);
}
/* line 47, ../sass/partials/_nosotros.scss */
.nosotros section article svg {
  width: 166px;
  height: 166px;
  display: block;
  margin: auto auto;
  fill: rgba(76, 63, 75, 0.5);
  margin-top: 43px;
  -moz-transition-property: fill;
  -o-transition-property: fill;
  -webkit-transition-property: fill;
  transition-property: fill;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 57, ../sass/partials/_nosotros.scss */
.nosotros section article h3 {
  padding: 27px 0 15px 0;
  text-align: center;
  text-transform: uppercase;
}
/* line 63, ../sass/partials/_nosotros.scss */
.nosotros section article p {
  margin-top: 0px;
  padding: 15px 0 40px 0;
  color: #a1ca6c;
  text-align: center;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 72, ../sass/partials/_nosotros.scss */
.nosotros section article:nth-child(1) {
  margin-left: 0px;
}
/* line 76, ../sass/partials/_nosotros.scss */
.nosotros section article ul {
  width: 190px;
  display: block;
  margin: auto auto;
}
/* line 80, ../sass/partials/_nosotros.scss */
.nosotros section article ul li {
  display: inline-table;
  padding-left: 18px;
}
/* line 85, ../sass/partials/_nosotros.scss */
.nosotros section article ul li a svg {
  width: 31px;
  height: 31px;
  margin-top: 0px;
}
/* line 90, ../sass/partials/_nosotros.scss */
.nosotros section article ul li a svg g:nth-child(1) {
  fill: rgba(76, 63, 75, 0.5);
  -moz-transition-property: fill;
  -o-transition-property: fill;
  -webkit-transition-property: fill;
  transition-property: fill;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 98, ../sass/partials/_nosotros.scss */
.nosotros section article ul li:nth-child(1) {
  padding-left: 0px;
}
/* line 104, ../sass/partials/_nosotros.scss */
.nosotros section article:hover {
  cursor: pointer;
}
/* line 106, ../sass/partials/_nosotros.scss */
.nosotros section article:hover svg {
  fill: #df5c64;
  -moz-transition-property: fill;
  -o-transition-property: fill;
  -webkit-transition-property: fill;
  transition-property: fill;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 112, ../sass/partials/_nosotros.scss */
.nosotros section article:hover p {
  color: #df5c64;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 121, ../sass/partials/_nosotros.scss */
.nosotros section article:hover ul li:nth-child(1) g:nth-child(1) {
  fill: #4f689e;
  -moz-transition-property: fill;
  -o-transition-property: fill;
  -webkit-transition-property: fill;
  transition-property: fill;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 128, ../sass/partials/_nosotros.scss */
.nosotros section article:hover ul li:nth-child(2) g:nth-child(1) {
  fill: #74c7d5;
  -moz-transition-property: fill;
  -o-transition-property: fill;
  -webkit-transition-property: fill;
  transition-property: fill;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 135, ../sass/partials/_nosotros.scss */
.nosotros section article:hover ul li:nth-child(3) g:nth-child(1) {
  fill: #df5c64;
  -moz-transition-property: fill;
  -o-transition-property: fill;
  -webkit-transition-property: fill;
  transition-property: fill;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 142, ../sass/partials/_nosotros.scss */
.nosotros section article:hover ul li:nth-child(4) g:nth-child(1) {
  fill: #3e61af;
  -moz-transition-property: fill;
  -o-transition-property: fill;
  -webkit-transition-property: fill;
  transition-property: fill;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 1, ../sass/partials/_trabajos.scss */
.trabajos {
  height: 100vh;
  background-color: #81a256;
  background-image: url("../images/background_trabajos.png");
  background-attachment: fixed;
  background-repeat: repeat-x;
  -moz-animation: fondo 60s infinite linear;
  -webkit-animation: fondo 60s infinite linear;
  animation: fondo 60s infinite linear;
  min-height: 800px;
  position: relative;
  z-index: 800;
}
/* line 7, ../sass/partials/_trabajos.scss */
.trabajos section {
  margin-top: -100px;
}
/* line 10, ../sass/partials/_trabajos.scss */
.trabajos section article {
  width: 260px;
  height: 252px;
  display: inline-table;
  margin-left: 16px;
  margin-top: 16px;
  background-color: white;
}
/* line 18, ../sass/partials/_trabajos.scss */
.trabajos section article:nth-child(1) {
  margin-left: 0px;
}
/* line 20, ../sass/partials/_trabajos.scss */
.trabajos section article:nth-child(1) img {
  content: url("../images/galery_1.jpg");
}
/* line 25, ../sass/partials/_trabajos.scss */
.trabajos section article:nth-child(2) img {
  content: url("../images/galery_2.jpg");
}
/* line 30, ../sass/partials/_trabajos.scss */
.trabajos section article:nth-child(3) img {
  content: url("../images/galery_3.jpg");
}
/* line 35, ../sass/partials/_trabajos.scss */
.trabajos section article:nth-child(4) img {
  content: url("../images/galery_4.jpg");
}
/* line 39, ../sass/partials/_trabajos.scss */
.trabajos section article:nth-child(5) {
  margin-left: 0px;
}
/* line 41, ../sass/partials/_trabajos.scss */
.trabajos section article:nth-child(5) img {
  content: url("../images/galery_5.jpg");
}
/* line 46, ../sass/partials/_trabajos.scss */
.trabajos section article:nth-child(6) img {
  content: url("../images/galery_6.jpg");
}
/* line 51, ../sass/partials/_trabajos.scss */
.trabajos section article:nth-child(7) img {
  content: url("../images/galery_7.jpg");
}
/* line 56, ../sass/partials/_trabajos.scss */
.trabajos section article:nth-child(8) img {
  content: url("../images/galery_8.jpg");
}
/* line 60, ../sass/partials/_trabajos.scss */
.trabajos section article div {
  width: 260px;
  height: 202px;
  position: relative;
  overflow: hidden;
  margin-bottom: 18px;
}
/* line 67, ../sass/partials/_trabajos.scss */
.trabajos section article div img {
  width: 260px;
  height: 202px;
  position: absolute;
  width: 100%;
}
/* line 75, ../sass/partials/_trabajos.scss */
.trabajos section article p {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: grey;
}
/* line 80, ../sass/partials/_trabajos.scss */
.trabajos section article p:after {
  content: "";
  position: absolute;
  border-width: 0px 12px 12px;
  border-style: solid;
  border-color: white transparent;
  display: block;
  width: 0;
  height: 0;
  margin-top: -43px;
  margin-left: 120px;
}
/* line 93, ../sass/partials/_trabajos.scss */
.trabajos section article p:before {
  content: "";
  position: absolute;
  display: block;
  width: 260px;
  height: 0px;
  margin-top: -220px;
  margin-left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url("../images/mas3.svg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  border-style: none;
  opacity: 0;
  -moz-transition-property: height, opacity, background-position;
  -o-transition-property: height, opacity, background-position;
  -webkit-transition-property: height, opacity, background-position;
  transition-property: height, opacity, background-position;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 112, ../sass/partials/_trabajos.scss */
.trabajos section article:hover {
  cursor: pointer;
}
/* line 116, ../sass/partials/_trabajos.scss */
.trabajos section article:hover p:before {
  content: "";
  position: absolute;
  display: block;
  width: 260px;
  height: 202px;
  margin-top: -220px;
  margin-left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url("../images/mas3.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-style: none;
  opacity: 1;
  -moz-transition-property: height, opacity, background-position;
  -o-transition-property: height, opacity, background-position;
  -webkit-transition-property: height, opacity, background-position;
  transition-property: height, opacity, background-position;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

/* overlay at start */
/* line 140, ../sass/partials/_trabajos.scss */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* overlay animate in */
/* line 148, ../sass/partials/_trabajos.scss */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

/* overlay animate out */
/* line 152, ../sass/partials/_trabajos.scss */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
/* line 157, ../sass/partials/_trabajos.scss */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* content animate it */
/* line 165, ../sass/partials/_trabajos.scss */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

/* content animate out */
/* line 169, ../sass/partials/_trabajos.scss */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

/* line 1, ../sass/partials/_contacto.scss */
.contacto {
  height: 100vh;
  background-color: #75b4aa;
  background-image: url("../images/background_contacto.png");
  background-attachment: fixed;
  background-repeat: repeat-x;
  -moz-animation: fondo 60s infinite linear;
  -webkit-animation: fondo 60s infinite linear;
  animation: fondo 60s infinite linear;
  background-position: -10% 50%;
  height: 90vh;
  min-height: 720px;
  position: relative;
  z-index: 1000;
}
/* line 10, ../sass/partials/_contacto.scss */
.contacto div article {
  float: left;
  margin-left: 20px;
}
/* line 14, ../sass/partials/_contacto.scss */
.contacto div article h3 {
  padding-bottom: 30px;
}
/* line 18, ../sass/partials/_contacto.scss */
.contacto div article:nth-child(2) {
  float: none;
}
/* line 23, ../sass/partials/_contacto.scss */
.contacto div article:nth-child(3) p {
  line-height: 26px;
}
/* line 28, ../sass/partials/_contacto.scss */
.contacto div article:nth-child(4) {
  height: 220px;
  width: 260px;
  margin-top: 50px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 35, ../sass/partials/_contacto.scss */
.contacto div article:nth-child(5) {
  width: 540px;
  float: right;
}
/* line 39, ../sass/partials/_contacto.scss */
.contacto div article:nth-child(5) input[type=text], .contacto div article:nth-child(5) input[type=email] {
  border: none;
  height: 40px;
  width: 248px;
  background-color: #68a097;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: white;
  font-family: "Lato", sans-serif;
  padding-left: 10px;
}
/* line 49, ../sass/partials/_contacto.scss */
.contacto div article:nth-child(5) input[type=text]:nth-child(2), .contacto div article:nth-child(5) input[type=email]:nth-child(2) {
  margin-left: 18px;
}
/* line 58, ../sass/partials/_contacto.scss */
.contacto div article:nth-child(5) textarea {
  border: none;
  width: 533px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #68a097;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: white;
  font-family: "Lato", sans-serif;
}
/* line 69, ../sass/partials/_contacto.scss */
.contacto div article:nth-child(5) input[type=submit] {
  border: none;
  padding: 10px 100px 10px 100px;
  background-color: #df5c64;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: block;
  margin: auto auto;
  cursor: pointer;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1.7em;
}

/* line 1, ../sass/partials/_footer.scss */
footer {
  height: 5vh;
  min-height: 100px;
  bottom: 0px;
  background-color: #68a097;
}
/* line 7, ../sass/partials/_footer.scss */
footer ul {
  width: 310px;
  display: block;
  margin: auto auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 12, ../sass/partials/_footer.scss */
footer ul li {
  display: inline;
  padding-left: 20px;
}
/* line 16, ../sass/partials/_footer.scss */
footer ul li svg {
  width: 60px;
  height: 60px;
}
/* line 20, ../sass/partials/_footer.scss */
footer ul li svg g:nth-child(1) {
  fill: #75b4aa;
}
/* line 25, ../sass/partials/_footer.scss */
footer ul li:nth-child(1) {
  padding-left: 0px;
}

/* line 1, ../sass/partials/_slider.scss */
.cb-slideshow,
.cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 0;
}

/* line 10, ../sass/partials/_slider.scss */
.cb-slideshow:after {
  content: '';
  background: transparent url(../images/pattern.png) repeat top left;
}

/* line 14, ../sass/partials/_slider.scss */
.cb-slideshow li span {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  /*-webkit-backface-visibility: hidden;*/
  -webkit-animation: imageAnimation 36s linear infinite 0s;
  -moz-animation: imageAnimation 36s linear infinite 0s;
  -o-animation: imageAnimation 36s linear infinite 0s;
  -ms-animation: imageAnimation 36s linear infinite 0s;
  animation: imageAnimation 36s linear infinite 0s;
}

/* line 33, ../sass/partials/_slider.scss */
.cb-slideshow li div {
  z-index: 2;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  -webkit-animation: titleAnimation 36s linear infinite 0s;
  -moz-animation: titleAnimation 36s linear infinite 0s;
  -o-animation: titleAnimation 36s linear infinite 0s;
  -ms-animation: titleAnimation 36s linear infinite 0s;
  animation: titleAnimation 36s linear infinite 0s;
}

/* line 48, ../sass/partials/_slider.scss */
.cb-slideshow li div h3 {
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  font-size: 4em;
  padding: 0;
  padding-bottom: 200px;
  line-height: 200px;
  text-shadow: 2px 2px 4px black;
}

/* line 56, ../sass/partials/_slider.scss */
.cb-slideshow li:nth-child(1) span {
  background-image: url("../images/background_inicio1.jpg");
}

/* line 59, ../sass/partials/_slider.scss */
.cb-slideshow li:nth-child(2) span {
  background-image: url("../images/background_inicio2.jpg");
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}

/* line 67, ../sass/partials/_slider.scss */
.cb-slideshow li:nth-child(3) span {
  background-image: url("../images/background_inicio3.jpg");
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}

/* line 75, ../sass/partials/_slider.scss */
.cb-slideshow li:nth-child(4) span {
  background-image: url("../images/background_inicio4.jpg");
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}

/* line 83, ../sass/partials/_slider.scss */
.cb-slideshow li:nth-child(5) span {
  background-image: url("../images/background_inicio1.jpg");
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s;
}

/* line 91, ../sass/partials/_slider.scss */
.cb-slideshow li:nth-child(6) span {
  background-image: url("../images/background_inicio4.jpg");
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s;
}

/* line 99, ../sass/partials/_slider.scss */
.cb-slideshow li:nth-child(2) div {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}

/* line 106, ../sass/partials/_slider.scss */
.cb-slideshow li:nth-child(3) div {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}

/* line 113, ../sass/partials/_slider.scss */
.cb-slideshow li:nth-child(4) div {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}

/* line 120, ../sass/partials/_slider.scss */
.cb-slideshow li:nth-child(5) div {
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s;
}

/* line 127, ../sass/partials/_slider.scss */
.cb-slideshow li:nth-child(6) div {
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s;
}

/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -moz-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes imageAnimation {
  0% {
    opacity: 0;
    -o-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -o-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes imageAnimation {
  0% {
    opacity: 0;
    -ms-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -ms-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* Show at least something when animations not supported */
/* line 217, ../sass/partials/_slider.scss */
.no-cssanimations .cb-slideshow li span {
  opacity: 1;
}

@media screen and (max-width: 1140px) {
  /* line 222, ../sass/partials/_slider.scss */
  .cb-slideshow li div h3 {
    font-size: 140px;
  }
}
@media screen and (max-width: 600px) {
  /* line 225, ../sass/partials/_slider.scss */
  .cb-slideshow li div h3 {
    font-size: 80px;
  }
}
/* line 21, ../sass/partials/_base.scss */
body {
  width: 100%;
  display: block;
  margin: auto auto;
}

/* line 26, ../sass/partials/_base.scss */
.mainwrapper {
  width: 1100px;
  display: block;
  margin: auto auto;
}

/* line 7, ../sass/modules/_utility.scss */
.section_title {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 50px;
}
/* line 11, ../sass/modules/_utility.scss */
.section_title h2 {
  text-transform: uppercase;
  padding-bottom: 30px;
}
/* line 16, ../sass/modules/_utility.scss */
.section_title p {
  line-height: 20px;
  padding-bottom: 70px;
}

/* line 34, ../sass/partials/_base.scss */
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 40, ../sass/partials/_base.scss */
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 47, ../sass/partials/_base.scss */
.parallax__layer--base {
  transform: translateZ(0);
}

/* line 50, ../sass/partials/_base.scss */
.parallax__layer--back {
  transform: translateZ(-1px);
}
