@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Importa los Partials*/
/*Importa los módulos*/
/*Fonts colors*/
/*Background colors*/
/*Background images*/
/*Icons colors*/
/*Ampliar imagen*/
/* line 1, ../sass/partials/_reset.scss */
body {
  color: white;
  font-family: "Lato", sans-serif;
}

/* line 6, ../sass/partials/_reset.scss */
h1 {
  font-size: 2.3em;
}

/* line 9, ../sass/partials/_reset.scss */
h2 {
  font-size: 2em;
}

/* line 12, ../sass/partials/_reset.scss */
h3 {
  font-size: 1.3em;
}

/* line 15, ../sass/partials/_reset.scss */
p {
  font-size: 0.9em;
}

/* line 1, ../sass/partials/_header.scss */
header {
  height: 60px;
  width: 100%;
  top: 0px;
  position: fixed;
  display: block;
  margin: auto auto;
  /*background-color:$backcolor_header;
  border-bottom: solid 5px $backcolor_inicio_kicker;*/
}

/* line 10, ../sass/partials/_header.scss */
h1 {
  float: left;
  color: white;
  font-family: "Lobster", cursive;
  padding-top: 10px;
}

/* line 17, ../sass/partials/_header.scss */
nav {
  float: right;
  padding-top: 20px;
}
/* line 21, ../sass/partials/_header.scss */
nav ul {
  list-style: none;
}
/* line 24, ../sass/partials/_header.scss */
nav ul li {
  display: inline;
  padding-left: 40px;
}
/* line 28, ../sass/partials/_header.scss */
nav ul li a {
  text-decoration: none;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

/* line 1, ../sass/partials/_inicio.scss */
.inicio {
  height: 100vh;
  min-height: 1000px;
  position-top: 0px;
  background-image: url("../images/background_inicio.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
}
/* line 10, ../sass/partials/_inicio.scss */
.inicio .slide_handler {
  display: block;
  margin: auto auto;
  padding-top: 30%;
  width: 1100px;
}
/* line 15, ../sass/partials/_inicio.scss */
.inicio .slide_handler span {
  font-size: 4em;
  color: white;
  font-family: "Lobster", cursive;
}
/* line 20, ../sass/partials/_inicio.scss */
.inicio .slide_handler span:nth-child(1) {
  float: left;
}
/* line 24, ../sass/partials/_inicio.scss */
.inicio .slide_handler span:nth-child(2) {
  float: right;
}
/* line 30, ../sass/partials/_inicio.scss */
.inicio .slide_handler div {
  display: block;
  margin: auto auto;
  width: 350px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 37, ../sass/partials/_inicio.scss */
.inicio .slide_handler div span {
  font-size: 2.1em;
  color: #74c7d5;
  display: inline;
}
/* line 43, ../sass/partials/_inicio.scss */
.inicio .slide_handler div span:nth-child(1) {
  text-align: right;
  float: left;
}
/* line 48, ../sass/partials/_inicio.scss */
.inicio .slide_handler div span:nth-child(2) {
  font-size: 5em;
  float: right;
}

/* line 1, ../sass/partials/_servicios.scss */
.servicios {
  height: 100vh;
  background-color: #b54b51;
  background-image: url("../images/background_servicios.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 1050px;
}
/* line 7, ../sass/partials/_servicios.scss */
.servicios section article {
  width: 260px;
  height: 400px;
  display: inline-table;
  margin-left: 16px;
  background-color: rgba(200, 83, 90, 0.8);
}
/* line 14, ../sass/partials/_servicios.scss */
.servicios section article div {
  width: 140px;
  height: 140px;
  background-color: white;
  -webkit-border-radius: 140px;
  -moz-border-radius: 140px;
  border-radius: 140px;
  display: block;
  margin: auto auto;
  border-style: double;
  border-color: #c8535a;
  border-width: 15px;
  margin-top: 45px;
}
/* line 26, ../sass/partials/_servicios.scss */
.servicios section article div svg {
  width: 80px;
  height: 80px;
  display: block;
  margin: auto auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  fill: #c8535a;
  -moz-transition-property: height;
  -o-transition-property: height;
  -webkit-transition-property: height;
  transition-property: height;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 38, ../sass/partials/_servicios.scss */
.servicios section article h3 {
  padding: 30px 0 50px 0;
  text-align: center;
  text-transform: uppercase;
}
/* line 44, ../sass/partials/_servicios.scss */
.servicios section article p {
  text-align: center;
  padding: 0 27px 0 27px;
  line-height: 1.3em;
}
/* line 50, ../sass/partials/_servicios.scss */
.servicios section article:nth-child(1) {
  margin-left: 0px;
}
/* line 54, ../sass/partials/_servicios.scss */
.servicios section article:hover {
  cursor: pointer;
}
/* line 59, ../sass/partials/_servicios.scss */
.servicios section article:hover div svg {
  width: 100px;
  height: 100px;
  -moz-transition-property: height;
  -o-transition-property: height;
  -webkit-transition-property: height;
  transition-property: height;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

/* line 1, ../sass/partials/_nosotros.scss */
.nosotros {
  height: 100vh;
  background-color: #665464;
  background-image: url("../images/background_nosotros.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 30% 50%;
  min-height: 1000px;
}
/* line 8, ../sass/partials/_nosotros.scss */
.nosotros section article {
  width: 260px;
  height: 380px;
  display: inline-table;
  margin-left: 16px;
  background-color: rgba(76, 63, 75, 0.5);
}
/* line 16, ../sass/partials/_nosotros.scss */
.nosotros section article svg {
  width: 166px;
  height: 166px;
  display: block;
  margin: auto auto;
  fill: rgba(76, 63, 75, 0.5);
  margin-top: 43px;
  -moz-transition-property: fill;
  -o-transition-property: fill;
  -webkit-transition-property: fill;
  transition-property: fill;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 26, ../sass/partials/_nosotros.scss */
.nosotros section article h3 {
  padding: 27px 0 15px 0;
  text-align: center;
  text-transform: uppercase;
}
/* line 32, ../sass/partials/_nosotros.scss */
.nosotros section article p {
  margin-top: 0px;
  padding: 15px 0 40px 0;
  color: #a1ca6c;
  text-align: center;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 41, ../sass/partials/_nosotros.scss */
.nosotros section article:nth-child(1) {
  margin-left: 0px;
}
/* line 45, ../sass/partials/_nosotros.scss */
.nosotros section article ul {
  width: 190px;
  display: block;
  margin: auto auto;
}
/* line 49, ../sass/partials/_nosotros.scss */
.nosotros section article ul li {
  display: inline-table;
  padding-left: 18px;
}
/* line 54, ../sass/partials/_nosotros.scss */
.nosotros section article ul li a svg {
  width: 31px;
  height: 31px;
  margin-top: 0px;
}
/* line 59, ../sass/partials/_nosotros.scss */
.nosotros section article ul li a svg g:nth-child(1) {
  fill: rgba(76, 63, 75, 0.5);
  -moz-transition-property: fill;
  -o-transition-property: fill;
  -webkit-transition-property: fill;
  transition-property: fill;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 67, ../sass/partials/_nosotros.scss */
.nosotros section article ul li:nth-child(1) {
  padding-left: 0px;
}
/* line 73, ../sass/partials/_nosotros.scss */
.nosotros section article:hover {
  cursor: pointer;
}
/* line 75, ../sass/partials/_nosotros.scss */
.nosotros section article:hover svg {
  fill: #df5c64;
  -moz-transition-property: fill;
  -o-transition-property: fill;
  -webkit-transition-property: fill;
  transition-property: fill;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 81, ../sass/partials/_nosotros.scss */
.nosotros section article:hover p {
  color: #df5c64;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 90, ../sass/partials/_nosotros.scss */
.nosotros section article:hover ul li:nth-child(1) g:nth-child(1) {
  fill: #4f689e;
  -moz-transition-property: fill;
  -o-transition-property: fill;
  -webkit-transition-property: fill;
  transition-property: fill;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 97, ../sass/partials/_nosotros.scss */
.nosotros section article:hover ul li:nth-child(2) g:nth-child(1) {
  fill: #74c7d5;
  -moz-transition-property: fill;
  -o-transition-property: fill;
  -webkit-transition-property: fill;
  transition-property: fill;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 104, ../sass/partials/_nosotros.scss */
.nosotros section article:hover ul li:nth-child(3) g:nth-child(1) {
  fill: #df5c64;
  -moz-transition-property: fill;
  -o-transition-property: fill;
  -webkit-transition-property: fill;
  transition-property: fill;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 111, ../sass/partials/_nosotros.scss */
.nosotros section article:hover ul li:nth-child(4) g:nth-child(1) {
  fill: #3e61af;
  -moz-transition-property: fill;
  -o-transition-property: fill;
  -webkit-transition-property: fill;
  transition-property: fill;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 1, ../sass/partials/_trabajos.scss */
.trabajos {
  height: 100vh;
  background-color: #81a256;
  background-image: url("../images/background_trabajos.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 1000px;
}
/* line 6, ../sass/partials/_trabajos.scss */
.trabajos section {
  margin-top: -100px;
}
/* line 9, ../sass/partials/_trabajos.scss */
.trabajos section article {
  width: 260px;
  height: 252px;
  display: inline-table;
  margin-left: 16px;
  margin-top: 16px;
  background-color: white;
}
/* line 17, ../sass/partials/_trabajos.scss */
.trabajos section article:nth-child(1) {
  margin-left: 0px;
}
/* line 19, ../sass/partials/_trabajos.scss */
.trabajos section article:nth-child(1) img {
  content: url("../images/galery_1.jpg");
}
/* line 24, ../sass/partials/_trabajos.scss */
.trabajos section article:nth-child(2) img {
  content: url("../images/galery_2.jpg");
}
/* line 29, ../sass/partials/_trabajos.scss */
.trabajos section article:nth-child(3) img {
  content: url("../images/galery_3.jpg");
}
/* line 34, ../sass/partials/_trabajos.scss */
.trabajos section article:nth-child(4) img {
  content: url("../images/galery_4.jpg");
}
/* line 38, ../sass/partials/_trabajos.scss */
.trabajos section article:nth-child(5) {
  margin-left: 0px;
}
/* line 40, ../sass/partials/_trabajos.scss */
.trabajos section article:nth-child(5) img {
  content: url("../images/galery_5.jpg");
}
/* line 45, ../sass/partials/_trabajos.scss */
.trabajos section article:nth-child(6) img {
  content: url("../images/galery_6.jpg");
}
/* line 50, ../sass/partials/_trabajos.scss */
.trabajos section article:nth-child(7) img {
  content: url("../images/galery_7.jpg");
}
/* line 55, ../sass/partials/_trabajos.scss */
.trabajos section article:nth-child(8) img {
  content: url("../images/galery_8.jpg");
}
/* line 59, ../sass/partials/_trabajos.scss */
.trabajos section article div {
  width: 260px;
  height: 202px;
  position: relative;
  overflow: hidden;
  margin-bottom: 18px;
}
/* line 66, ../sass/partials/_trabajos.scss */
.trabajos section article div img {
  width: 260px;
  height: 202px;
  position: absolute;
  width: 100%;
}
/* line 74, ../sass/partials/_trabajos.scss */
.trabajos section article p {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: grey;
}
/* line 79, ../sass/partials/_trabajos.scss */
.trabajos section article p:after {
  content: "";
  position: absolute;
  border-width: 0px 12px 12px;
  border-style: solid;
  border-color: white transparent;
  display: block;
  width: 0;
  height: 0;
  margin-top: -43px;
  margin-left: 120px;
}
/* line 92, ../sass/partials/_trabajos.scss */
.trabajos section article p:before {
  content: "";
  position: absolute;
  display: block;
  width: 260px;
  height: 0px;
  margin-top: -220px;
  margin-left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url("../images/mas3.svg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  border-style: none;
  opacity: 0;
  -moz-transition-property: height, opacity, background-position;
  -o-transition-property: height, opacity, background-position;
  -webkit-transition-property: height, opacity, background-position;
  transition-property: height, opacity, background-position;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 111, ../sass/partials/_trabajos.scss */
.trabajos section article:hover {
  cursor: pointer;
}
/* line 115, ../sass/partials/_trabajos.scss */
.trabajos section article:hover p:before {
  content: "";
  position: absolute;
  display: block;
  width: 260px;
  height: 202px;
  margin-top: -220px;
  margin-left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url("../images/mas3.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-style: none;
  opacity: 1;
  -moz-transition-property: height, opacity, background-position;
  -o-transition-property: height, opacity, background-position;
  -webkit-transition-property: height, opacity, background-position;
  transition-property: height, opacity, background-position;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

/* line 1, ../sass/partials/_contacto.scss */
.contacto {
  height: 100vh;
  background-color: #75b4aa;
  background-image: url("../images/background_contacto.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: -10% 50%;
  height: 90vh;
  min-height: 900px;
}
/* line 8, ../sass/partials/_contacto.scss */
.contacto div article {
  float: left;
  margin-left: 20px;
}
/* line 12, ../sass/partials/_contacto.scss */
.contacto div article h3 {
  padding-bottom: 30px;
}
/* line 16, ../sass/partials/_contacto.scss */
.contacto div article:nth-child(1) {
  float: none;
}
/* line 21, ../sass/partials/_contacto.scss */
.contacto div article:nth-child(2) p {
  line-height: 26px;
}
/* line 26, ../sass/partials/_contacto.scss */
.contacto div article:nth-child(3) {
  height: 220px;
  width: 260px;
  margin-top: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 33, ../sass/partials/_contacto.scss */
.contacto div article:nth-child(4) {
  width: 540px;
  float: right;
}
/* line 37, ../sass/partials/_contacto.scss */
.contacto div article:nth-child(4) input[type=text] {
  border: none;
  height: 40px;
  width: 258px;
  background-color: #68a097;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 44, ../sass/partials/_contacto.scss */
.contacto div article:nth-child(4) input[type=text]:nth-child(2) {
  margin-left: 18px;
}
/* line 49, ../sass/partials/_contacto.scss */
.contacto div article:nth-child(4) textarea {
  border: none;
  width: 533px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #68a097;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 58, ../sass/partials/_contacto.scss */
.contacto div article:nth-child(4) input[type=submit] {
  border: none;
  padding: 10px 100px 10px 100px;
  background-color: #df5c64;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block;
  margin: auto auto;
  cursor: pointer;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1.7em;
}

/* line 1, ../sass/partials/_footer.scss */
footer {
  height: 10vh;
  min-height: 150px;
  bottom: 0px;
  background-color: #68a097;
}
/* line 7, ../sass/partials/_footer.scss */
footer ul {
  width: 310px;
  display: block;
  margin: auto auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 12, ../sass/partials/_footer.scss */
footer ul li {
  display: inline;
  padding-left: 20px;
}
/* line 16, ../sass/partials/_footer.scss */
footer ul li svg {
  width: 60px;
  height: 60px;
}
/* line 20, ../sass/partials/_footer.scss */
footer ul li svg g:nth-child(1) {
  fill: #75b4aa;
}
/* line 25, ../sass/partials/_footer.scss */
footer ul li:nth-child(1) {
  padding-left: 0px;
}

/* line 19, ../sass/partials/_base.scss */
body {
  width: 100%;
  display: block;
  margin: auto auto;
}

/* line 24, ../sass/partials/_base.scss */
.mainwrapper {
  width: 1100px;
  display: block;
  margin: auto auto;
}

/* line 7, ../sass/modules/_utility.scss */
.section_title {
  text-align: center;
  padding-top: 190px;
  padding-bottom: 50px;
}
/* line 11, ../sass/modules/_utility.scss */
.section_title h2 {
  text-transform: uppercase;
  padding-bottom: 50px;
}
/* line 16, ../sass/modules/_utility.scss */
.section_title p {
  line-height: 20px;
  padding-bottom: 120px;
}
