@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Importa los Partials*/
/*Importa los módulos*/
/*Fonts colors*/
/*Background colors*/
/* line 1, ../sass/partials/_reset.scss */
body {
  color: white;
  font-family: "Lato", sans-serif;
}

/* line 6, ../sass/partials/_reset.scss */
h1 {
  font-size: 2em;
}

/* line 9, ../sass/partials/_reset.scss */
h2 {
  font-size: 1.4em;
}

/* line 12, ../sass/partials/_reset.scss */
h3 {
  font-size: 1em;
}

/* line 15, ../sass/partials/_reset.scss */
p {
  font-size: 0.9em;
}

/* line 1, ../sass/partials/_header.scss */
header {
  height: 120px;
  width: 100%;
  top: 0px;
  position: fixed;
  background: rgba(43, 43, 43, 0.64);
  background: -moz-linear-gradient(top, rgba(43, 43, 43, 0.64) 0%, rgba(102, 102, 102, 0.64) 0%, rgba(89, 89, 89, 0.64) 0%, rgba(0, 0, 0, 0.64) 0%, rgba(44, 44, 44, 0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(43, 43, 43, 0.64)), color-stop(0%, rgba(102, 102, 102, 0.64)), color-stop(0%, rgba(89, 89, 89, 0.64)), color-stop(0%, rgba(0, 0, 0, 0.64)), color-stop(100%, rgba(44, 44, 44, 0)));
  background: -webkit-linear-gradient(top, rgba(43, 43, 43, 0.64) 0%, rgba(102, 102, 102, 0.64) 0%, rgba(89, 89, 89, 0.64) 0%, rgba(0, 0, 0, 0.64) 0%, rgba(44, 44, 44, 0) 100%);
  background: -o-linear-gradient(top, rgba(43, 43, 43, 0.64) 0%, rgba(102, 102, 102, 0.64) 0%, rgba(89, 89, 89, 0.64) 0%, rgba(0, 0, 0, 0.64) 0%, rgba(44, 44, 44, 0) 100%);
  background: -ms-linear-gradient(top, rgba(43, 43, 43, 0.64) 0%, rgba(102, 102, 102, 0.64) 0%, rgba(89, 89, 89, 0.64) 0%, rgba(0, 0, 0, 0.64) 0%, rgba(44, 44, 44, 0) 100%);
  background: linear-gradient(to bottom, rgba(43, 43, 43, 0.64) 0%, rgba(102, 102, 102, 0.64) 0%, rgba(89, 89, 89, 0.64) 0%, rgba(0, 0, 0, 0.64) 0%, rgba(44, 44, 44, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#2c2c2c', GradientType=0 );
  display: block;
  margin: auto auto;
}

/* line 9, ../sass/partials/_header.scss */
h1 {
  float: left;
  color: white;
  font-family: "Lobster", cursive;
  padding-top: 50px;
}

/* line 16, ../sass/partials/_header.scss */
nav {
  float: right;
  padding-top: 50px;
}
/* line 20, ../sass/partials/_header.scss */
nav ul {
  list-style: none;
}
/* line 23, ../sass/partials/_header.scss */
nav ul li {
  display: inline;
  padding-left: 40px;
}
/* line 27, ../sass/partials/_header.scss */
nav ul li a {
  text-decoration: none;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

/* line 1, ../sass/partials/_inicio.scss */
.inicio {
  height: 100vh;
  position-top: 0px;
  background-image: url("../images/background_inicio.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
}
/* line 9, ../sass/partials/_inicio.scss */
.inicio .slide_handler {
  display: block;
  margin: auto auto;
  padding-top: 30%;
  width: 1100px;
}
/* line 14, ../sass/partials/_inicio.scss */
.inicio .slide_handler span {
  font-size: 4em;
  color: white;
  font-family: "Lobster", cursive;
}
/* line 19, ../sass/partials/_inicio.scss */
.inicio .slide_handler span:nth-child(1) {
  float: left;
}
/* line 23, ../sass/partials/_inicio.scss */
.inicio .slide_handler span:nth-child(2) {
  float: right;
}
/* line 29, ../sass/partials/_inicio.scss */
.inicio .slide_handler div {
  display: block;
  margin: auto auto;
  width: 350px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 36, ../sass/partials/_inicio.scss */
.inicio .slide_handler div span {
  font-size: 2.1em;
  color: rgba(116, 199, 213, 0.9);
  display: inline;
}
/* line 42, ../sass/partials/_inicio.scss */
.inicio .slide_handler div span:nth-child(1) {
  text-align: right;
  float: left;
}
/* line 47, ../sass/partials/_inicio.scss */
.inicio .slide_handler div span:nth-child(2) {
  font-size: 5em;
  float: right;
}

/* line 1, ../sass/partials/_servicios.scss */
.servicios {
  height: 100vh;
  min-height: 600px;
  background-color: #b54b51;
  background-attachment: fixed;
}
/* line 6, ../sass/partials/_servicios.scss */
.servicios section article {
  width: 260px;
  height: 300px;
  display: inline-table;
  margin-left: 16px;
  background-color: rgba(200, 83, 90, 0.8);
}
/* line 13, ../sass/partials/_servicios.scss */
.servicios section article img {
  width: 166px;
  height: 166px;
  display: block;
  margin: auto auto;
}
/* line 19, ../sass/partials/_servicios.scss */
.servicios section article h3 {
  padding: 20px 0 20px 0;
  text-align: center;
}
/* line 24, ../sass/partials/_servicios.scss */
.servicios section article p {
  text-align: center;
  padding: 0 10px 0 10px;
  line-height: 1.2em;
}
/* line 30, ../sass/partials/_servicios.scss */
.servicios section article:nth-child(1) {
  margin-left: 0px;
}

/* line 1, ../sass/partials/_nosotros.scss */
.nosotros {
  height: 100vh;
  min-height: 600px;
  background-color: #665464;
  background-attachment: fixed;
}

/* line 1, ../sass/partials/_trabajos.scss */
.trabajos {
  height: 100vh;
  min-height: 600px;
  background-color: #81a256;
  background-attachment: fixed;
}

/* line 1, ../sass/partials/_contacto.scss */
.contacto {
  height: 100vh;
  min-height: 600px;
  background-color: #75b4aa;
  background-attachment: fixed;
  height: 90vh;
}

/* line 6, ../sass/partials/_contacto.scss */
footer {
  height: 10vh;
  background-color: #68a097;
  bottom: 0px;
}

/* line 2, ../sass/partials/_footer.scss */
footer ul {
  width: 188px;
  padding-top: 20px;
  display: block;
  margin: auto auto;
}
/* line 7, ../sass/partials/_footer.scss */
footer ul li {
  display: inline;
  padding-left: 20px;
}
/* line 11, ../sass/partials/_footer.scss */
footer ul li svg {
  fill: #75b4aa;
  width: 21px;
  height: 21px;
}
/* line 17, ../sass/partials/_footer.scss */
footer ul li:nth-child(1) {
  padding-left: 0px;
  width: 31px;
  height: 31px;
}
/* line 22, ../sass/partials/_footer.scss */
footer ul li:nth-child(1) svg {
  margin: auto auto;
}

/* line 19, ../sass/partials/_base.scss */
body {
  width: 100%;
  display: block;
  margin: auto auto;
}

/* line 24, ../sass/partials/_base.scss */
.mainwrapper {
  width: 1100px;
  display: block;
  margin: auto auto;
}

/* line 7, ../sass/modules/_utility.scss */
.section_title {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
/* line 11, ../sass/modules/_utility.scss */
.section_title h2 {
  text-transform: uppercase;
  padding-bottom: 50px;
}
/* line 16, ../sass/modules/_utility.scss */
.section_title p {
  line-height: 20px;
}
