/*Fonts colors*/
$menu_color:white;
$color_principal:white;

/*Background colors*/
$backcolor_servicios:rgb(181,75,81);
$backcolor_servicios_article:rgba(200,83,90,0.8);
$backcolor_nosotros:rgb(102,84,100);
$backcolor_nosotros_article:rgba(76,63,75,0.5);
$backcolor_nosotros_kicker:rgb(161,202,108);
$backcolor_trabajos:rgb(129,162,86);
$backcolor_contacto:rgb(117,180,170);
$backcolor_contacto_boton:rgb(223,92,100);
$backcolor_footer:rgb(104,160,151);