@mixin center(){
	display:block;
	margin:auto auto;
}

@mixin section_title(){
	.section_title{
		text-align:center;
		padding-top:190px;
		padding-bottom:50px;
		h2{
			text-transform:uppercase;
			padding-bottom:50px;
		}

		p{
			line-height: 20px;
			padding-bottom:120px;
		}
	}
}

@mixin section_base($backcolor, $backimage){
	height:100vh;
	background-color:$backcolor;
	background-image:$backimage;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

@mixin degradado(){
	background: rgba(43,43,43,0.64);
	background: -moz-linear-gradient(top, rgba(43,43,43,0.64) 0%, rgba(102,102,102,0.64) 0%, rgba(89,89,89,0.64) 0%, rgba(0,0,0,0.64) 0%, rgba(44,44,44,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(43,43,43,0.64)), color-stop(0%, rgba(102,102,102,0.64)), color-stop(0%, rgba(89,89,89,0.64)), color-stop(0%, rgba(0,0,0,0.64)), color-stop(100%, rgba(44,44,44,0)));
	background: -webkit-linear-gradient(top, rgba(43,43,43,0.64) 0%, rgba(102,102,102,0.64) 0%, rgba(89,89,89,0.64) 0%, rgba(0,0,0,0.64) 0%, rgba(44,44,44,0) 100%);
	background: -o-linear-gradient(top, rgba(43,43,43,0.64) 0%, rgba(102,102,102,0.64) 0%, rgba(89,89,89,0.64) 0%, rgba(0,0,0,0.64) 0%, rgba(44,44,44,0) 100%);
	background: -ms-linear-gradient(top, rgba(43,43,43,0.64) 0%, rgba(102,102,102,0.64) 0%, rgba(89,89,89,0.64) 0%, rgba(0,0,0,0.64) 0%, rgba(44,44,44,0) 100%);
	background: linear-gradient(to bottom, rgba(43,43,43,0.64) 0%, rgba(102,102,102,0.64) 0%, rgba(89,89,89,0.64) 0%, rgba(0,0,0,0.64) 0%, rgba(44,44,44,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#2c2c2c', GradientType=0 );
}

@mixin border_radius($size){
	-webkit-border-radius: $size;
	-moz-border-radius: $size;
	border-radius: $size;
}

@mixin vertical-align() {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin transition($propiedad, $tiempo){
	-webkit-transition:$propiedad $tiempo;
	-moz-transition:$propiedad $tiempo;
	-o-transition:$propiedad $tiempo;
	transition:$propiedad $tiempo;
}